@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  background-color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
} */

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #3b5998 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid #3b5998;
  color: #3b5998;

  padding: 10px 25px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }
}

.jobsgrid,
.blogsgrid {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 45px;
  column-gap: 30px;
}

@media (min-width: 800px) {
  .jobsgrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1250px) {
  .jobsgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* w-full sm:w-[350px] h-[300px] rounded-lg */

.jobcard,
.blogcard {
  -webkit-box-shadow: -8px 13px 47px -16px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -8px 13px 47px -16px rgba(0, 0, 0, 0.43);
  box-shadow: -8px 13px 47px -16px rgba(0, 0, 0, 0.43);

  border-radius: 20px;

  padding: 20px;

  background-color: #d3d3d385;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border: 1px solid white;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  width: 90%;
  background: grey;
  border-radius: 5px;
  background-image: linear-gradient(#3b5998, #3b5998);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3b5998;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
